# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2026 Corley S.r.l.
# Output di Buildroot: toolchain, sorgenti scaricati, immagini.
/output/


# Output dei job di CI eseguiti in locale
/out-*_defconfig/
